@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151c25;
  color: white;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  height: 82px;
}

.left {
  position: relative;
  font-size: 36px;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

nav ul {
  display: flex;
  justify-content: center;
  font-weight: 500;
  list-style-type: none;
}

nav ul a {
  color: #fff;
  font-size: 17px;
  list-style: none;
  margin: 0 23px 0 35px;
  position: relative;
  opacity: 0;
  text-decoration: none;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

nav ul a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #d14d72;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul a:hover::after {
  width: 100%;
}

.text-pink {
  color: #d14d72;
}

.first-section {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  align-items: center;
  padding: 0px 10% 0;
}

.left-section {
  max-width: 600;
}

.left-section h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.left-section h3 span {
  color: #d14d72;
}

.left-section h3:nth-of-type(2) {
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.left-section h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.left-section p {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.left-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid #d14d72;
  border-radius: 50%;
  font-size: 20px;
  color: #d14d72;
  text-decoration: none;
  margin: 20px 15px 30px 0;
  opacity: 0;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.left-sci a:hover {
  color: white;
  background: #d14d72;
  box-shadow: 0 0 20px #d14d72;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #d14d72;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 6px #d14d72, 0 0 42px #d14d72;
}

.btn-box:hover {
  box-shadow: 0 0 5px #d14d72, 0 0 25px #d14d72, 0 0 50px #d14d72,
    0 0 100px #d14d72, 0 0 200px #d14d72;
}

.right-section {
  position: absolute;
  top: 8%;
  left: 62%;
}

.right-section img {
  height: 66vh;
  width: 66vh;
  animation: updown 2s ease in-out infinite;
  animation-delay: 2s;
}

main hr {
  border: 0;
  background: #d14d72;
  height: 2.4px;
  margin: 40px 85px;
}

.About-Me {
  width: 100%;
  height: 75vh;
  padding: 78px 0px;
  margin-top: -30px;
}

.about-main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-text {
  width: 550px;
}

.about-text h2 {
  font-size: 80px;
  text-transform: capitalize;
  font-family: "josefin sans", sans-serif;
  margin-bottom: 15px;
}

.about-text h4 {
  font-size: 25px;
  text-transform: capitalize;
  font-family: "josefin sans", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-decoration: underline;
  text-decoration-color: #d14d72;
  text-underline-offset: 4px;
}

.about-text p {
  display: inline;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.about-btn {
  display: inline-block;
  padding: 12px 28px;
  margin-top: 24px;
  background: #d14d72;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 6px #d14d72, 0 0 42px #d14d72;
}

.about-btn:hover {
  box-shadow: 0 0 5px #d14d72, 0 0 25px #d14d72, 0 0 50px #d14d72,
    0 0 100px #d14d72, 0 0 200px #d14d72;
}

.ed-ex-container {
  width: 190vh;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: calc(10% - 30px);
  margin-bottom: 42px;
}

main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.title {
  color: #d14d72;
  font-size: 1.6rem;
  padding: 0px 0px 50px 160px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #fff;
  font-family: "josefin sans", sans-serif;
}

.contents {
  margin-left: 130px;
}

.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #bababa;
}

.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  border-radius: 33px;
}

.col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #d14d72;
  box-shadow: 0 0 5px #d14d72, 0 0 25px #d14d72, 0 0 50px #d14d72,
    0 0 100px #d14d72, 0 0 200px #d14d72;
  border: 2px solid white;
}

.col img {
  height: 40px;
  width: 110px;
  margin-left: -6px;
}

.pr-a {
  margin-top: -15px;
}

.box h4 {
  position: relative;
  color: #d14d72;
}

.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #444;
}

.box p {
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}

@media (max-width: 768px) {
  main.row {
    grid-template-columns: 1fr;
  }

  .row .col:nth-child(2) {
    margin-top: 30px;
  }
}

.sub-title {
  text-align: center;
  font-size: 70px;
  margin-left: 150px;
  font-family: "josefin sans";
}

.sub-title span {
  color: #d14d72;
}

.skills {
  display: flex;
}

.container1 {
  width: 600px;
  height: 600px;
  padding: 75px 90px;
  margin-left: 120px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
}

.Technical-Bars .bar {
  margin-top: 40px;
}

.Technical-Bars .bar:first-child {
  margin-top: 0;
}

.Technical-Bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-Bars .bar .info {
  margin-bottom: 5px;
  margin-top: -8px;
}

.python-img {
  height: 15px;
  width: 15px;
}

.java-img {
  height: 33px;
  width: 33px;
  margin-left: -6px;
}

.Technical-Bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 1s 1s linear forwards;
  opacity: 0;
}

.Technical-Bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: rgb(0, 0, 0);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
  margin-bottom: 15px;
}

.Technical-Bars .bar .progress-line span {
  height: 100%;
  background-color: #f54476;
  position: absolute;
  border-radius: 10px;
  animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 60%;
}

.progress-line.js span {
  width: 50%;
}

.progress-line.python span {
  width: 85%;
}

.progress-line.java span {
  width: 80%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background: rgb(71, 70, 70);
  color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 50%;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "60%";
}

.progress-line.js span::after {
  content: "50%";
}

.progress-line.python span::after {
  content: "85%";
}

.progress-line.java span::after {
  content: "80%";
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .bar {
  position: relative;
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
}

.radial-bars .bar svg {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .bar .progress-bar {
  stroke-width: 10;
  stroke: rgb(0, 0, 0);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

.path {
  stroke-width: 10;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  stroke: aquamarine;
  animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
  stroke: #fcbf49;
  animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
  stroke: #e63946;
  animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
  stroke: #7ae582;
  animation: animate-path4 1s 1s linear forwards;
}

.bar .percentage {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.6 1s linear forwards;
  opacity: 0;
}

.progress-bar .skills-text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 70%;
  bottom: -5px;
  margin-bottom: 50px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5;
  opacity: 0;
}

.skills-text {
  margin-bottom: 50px;
  position: absolute;
  top: 110%;
}

.creativity {
  margin-left: 60px;
}

.comm-skills {
  margin-left: 25px;
}

.team {
  margin-left: 55px;
}

.prblm-s-skills {
  width: 200px;
  margin-left: 20px;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 80px;
  height: 90vh;
}

.contact-text h1 {
  font-size: 80px;
  line-height: 1;
  color: white;
  font-family: "josefin sans", sans-serif;
}

.contact-text {
  padding-left: 100px;
  padding-bottom: 60px;
}

.contact-text h1 span {
  color: #d14d72;
}

.contact-list {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: block;
  font-size: 23px;
}

.contact-list li {
  margin-bottom: 20px;
  display: block;
}

.contact-list i {
  display: inline-block;
  color: #d14d72;
  font-size: 24px;
  font-weight: 600;
}

.contact-list li a:hover {
  color: #d14d72;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #d14d72;
  border-radius: 50%;
  font-size: 20px;
  color: #d14d72;
  text-decoration: none;
  margin: 20px 15px 30px 0;
  opacity: 0;
  transition: 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-icons a:hover {
  color: white;
  background: #d14d72;
  box-shadow: 0 0 20px #d14d72;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 90%;
  border: none;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .send {
  display: inline-block;
  padding: 12px 28px;
  background: #d14d72;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 6px #d14d72, 0 0 42px #d14d72;
  margin-left: 15px;
  margin-top: 40px;
}

.contact-form form .send:hover {
  box-shadow: 0 0 5px #d14d72, 0 0 25px #d14d72, 0 0 50px #d14d72,
    0 0 100px #d14d72, 0 0 200px #d14d72;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #262626;
  font-weight: 300;
  margin-top: 10px;
  color: #a5a5a5;
}

.copyright i {
  color: #f54476;
}

.bx-x {
  display: none;
}

.bx-menu {
  display: none;
}

/* CSS For Small Device */

@media only screen and (max-width: 938px) {

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .bx-x {
    display: block;
    font-size: 33px;
  }

  .bx-menu {
    display: block;
    font-size: 25px;
  }

  nav .left {
    font-size: 1.4rem;
  }

  nav ul {
    background-color: #f54476;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    padding-top: 100px;
    display: block;
    z-index: 2;
    transition: 0.6s;
  }

  nav ul li {
    display: block;
    margin: 20px;
    margin-left: -10px;
  }

  nav ul a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }

  nav ul .bx {
    position: absolute;
    top: 50px;
    left: 20px;
    cursor: pointer;
  }

  main{
    width: 100%;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text h3 {
    font-size: 15px;
  }

  .header-text p {
    font-size: 10px;
  }

  .left-section .social-icons a {
    margin-top: 33px;
    width: 28px;
    height: 28px;
  }

  .right-section img {
    display: none;
  }

  main hr {
    border: 0;
    background: #d14d72;
    height: 2.4px;
    margin: 33px 85px;
}

  .about-img {
    display: none;
    width: 10px;
    height: 10px;
  }

  .About-Me {
  width: 100%;
  height: 75vh;
  padding: 65px 20px ;
  margin-top: -30px;
}

.about-main {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 0;
}

.about-text {
  width: 100%;
}

  /* .About-Me {
    width: 100%;
    padding: 51px 0px;
    margin-top: -33px;
  }

  .about-main {
  width: 100%;
  }

  .about-text {
  width: 90%;
} */

  .about-text h2 {
    margin-right: 33px;
    font-size: 2.5rem;
    text-align: center;

  }

  .about-text h4 {
        margin-right: 33px;
    font-size: 1.5rem;
    text-align: center;
  }

  .about-text p {
    position: absolute;
    left: 8%;
    font-size: 0.7rem;
    letter-spacing: 0px;
    margin-bottom: 100px;
    width: 85%;
  }

    .about-btn {
    margin-top: 400px;
    margin-left: 93px;
    padding: 13px 22px;
    font-size: 0.8rem;
  }


  .ed-ex-container {
    width: 100%;
    height: 114vh;
    margin-top: 150px;
  }

  .contents {
    margin-left: 10px;
  }

  .col header.title {
    font-size: 1.5rem;
    padding: 0px 0px 42px 42px;
  }

  .work-ex {
    line-height: 51px;
   
  }

  .col .contents {
    margin-left: 42px;
  }

  .col .contents .box {
    padding: 15px;
  }

  .box h3 {
    padding: 2px 0px 6px;
    font-size: 14px;
  }

  .box h4 {
    font-size: 14px;
  }

  .box p {
    line-height: 1.5;
    font-size: 10px;
  }

  .col img {
    height: 27px;
    width: 90px;
    margin-left: -6px;
    margin-bottom: 6px;
    margin-top: -4px;
  }

  .skills {
    display: block;
  }

  .sub-title {
    text-align: center;
    font-size: 51px;
    padding-top: 114px;
    padding-bottom: 21px;
    margin-left: -10px;
    font-family: "josefin sans";
  }

  .skills-text {
    font-size: 1.1rem;
  }

  .creativity {
    margin-left: 31px;
  }

  .prblm-s-skills {
    margin-left: 5px;
  }

  .comm-skills {
    margin-left: 1px;
  }

  .team {
    margin-left: 28px;
  }

  .cr-bar,
  .pr-bar {
    position: absolute;
    left: -6%;
  }

  .cm-bar,
  .tm-bar {
    position: absolute;
    right: -4%;
  }

  .container1 {
    margin-left: -50px;
    width: 80%;
    padding: 11px 90px;
  }

  .radial-bars {
    margin-top: -42px;
  }

  .radial-bars .bar svg {
    width: 150px;
  }

  .radial-bars .bar {
    height: 210px;
  }

  .Technical-Bars .bar {
    margin-top: 21px;
  }

  .contact {
    display: inline-block;
  }

  .contact-text {
    padding-left: 6px;
    padding-bottom: 59px;
  }

  .contact-text h1 {
    font-size: 3rem;
  }

  .contact-list {
    font-size: 1rem;
  }

  .contact-list i {
    font-size: 17px;
  }

  .social-icons a {
    margin-top: -30px;
    width: 32px;
    height: 33px;
  }

  .btn-box {
    padding: 8px 11px;
    font-size: 0.8rem;
  }

  .contact-form {
    width: 90%;
    margin-top: -24px;
  }

  .contact-form form input,
  form textarea {
    border-radius: 33px;
  }

  .contact-form form .send {
    margin-top: 15px;
  }

  .copyright {
    margin-top: 50px;
    font-size: 0.8rem;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-22px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 175;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 25;
  }
}
